<!--This layout taken from https://github.com/Thisiswhathackerfundcouldlooklike/Thisiswhathackerfundcouldlooklike.github.io-->
<!--Which was made with Bootstrap and CSS-->
<html>
  <head>
    <title>Pretty Maker v1</title>
    <meta name="keywords" content="hacker, fun, FOSS, DMR, OSS" />
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="http://bootswatch.com/paper/bootstrap.min.css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <style>
      .intro {
  display: table;
  width: 100%;
  height: 80%;
  padding: 100px 0;
  text-align: center;
  color: #000;
  background: url(http://thisiswhathackerfundcouldlooklike.github.io/img/love.png) no-repeat bottom center scroll;  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}
.intro .intro-body .brand-heading {
  font-size: 40px;
}
.intro .intro-body .intro-text {
  font-size: 18px;
}
    </style>

  
</head>
  <body>
        <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <strong><h1 >Pretty Maker</h1></strong>
                        <p class="intro-text">Our Templates are our own bootstrap varients, we will be continuing to add more templates to grow our collection. If you have a template you'd like to add create an issue on our <strong><a href="https://github.com/PrettyMaker/PrettyMaker.github.io">Github</a></strong> page.</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Service Section -->
     <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>What you can find here</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <h4>
                                    <strong>Our Templates</strong>
                                </h4>
                                <p>Free Templates for different designs </p>
                                <a href="/templates/index.html" style="color: #fff"><b>Learn More</b></a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <h4>
                                    <strong>Their Themes</strong>
                                </h4>
                                <p>Use proven bootstrap themes</p>
                                <a href="/css/index.html" style="color: #fff"><b>Learn More</b></a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <h4>
                                    <strong>100% web - 100% free</strong>
                                </h4>
                                <p>We believe no hacker should have a bad landing page! Everything is free!</p>
                                <a href="http://www.fsf.org/" style="color: #fff"><b>Learn More</b></a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <h4>
                                    <strong>Find Us Around</strong>
                                </h4>
                                <p>You can find us on Github</p>
                                <a href="https://github.com/PrettyMaker/PrettyMaker.github.io" style="color: #fff"><b>Learn More</b></a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
  </body>
</html>
